<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<h1 align="center" style="font-family: New Gulim;"> 🥳 17 Farm 가입을 환영합니다 🥳 </h1>
<br>
<body align="center">
<div style="font-family: New Gulim; margin: auto; width: 500px; position: center" align="center">
<!--    <div style="background-color: #BEE8C2; margin: 20px; padding: 30px;height: 100px;" align="center">-->
        <p> 안녕하세요, 17시 내고향입니다. </p>
        <br>
        <p> 저희 사이트에 가입하신 걸 환영합니다. </p>
        <br>
        <p> 앞으로도 좋은 서비스로 보답하겠습니다. </p>
        <br>
        <p> - 17시 내고향 드림 - </p>
<!--    </div>-->
</div>
</body>

